@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Quattrocento&display=swap");


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.image-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.text-container {
    width: 50%;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: 'Playfair Display', Tahoma, Verdana;
    font-weight: bold;
}

h2 {
    font-family: 'Playfair Display', Verdana, Tahoma;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

p {
    text-align: center;
}

.logo {
    width: 80px;
    height: auto;
    padding-top: 10px;
}

body {
    font-family: 'Quattrocento', Helvetica, monospace;
    margin: 0;
    padding: 0;
}

#container {
    max-width: 960px;
    margin: 0 auto;
}

header {
    background-color: #DCB933;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 30px;
    text-align: center;
}

header nav {
    text-align: right;
}

header nav a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

header nav a:hover {
    color: #ccc;
}

#main-content {
    padding: 20px 0;
}

#hero-section {
    height: 100%;
    text-align: center;
}

#hero-section h2 {
    color: black;
    font-size: 40px;
    margin-top: 0;
}

#hero-section p {
    color: black;
    font-size: 16px;
}

footer {
    text-align: right;
    background-color: #DCB933;
    color: black;
    padding: 25px 50px;
    margin-top: 50px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

footer p {
    margin: 0;
    text-align: left;
    font-size: 1.2em;
}

footer a{
    color: black;
    text-decoration: none;
}

footer p:hover{
    text-decoration: underline;
}